.page {
	background: #F8F8F8;
	height: 1000px;
	width: 700px;
}
h1 {
	text-align: center;
	font-weight: light;
}
p {
	color: black;
	font-size: 20px;
	line-height: 30px;
	text-align: left;
	margin: left;
}
hr {
	margin-top: 15px;
	margin-bottom: 20px;
	padding: 0px;
}
ul {
	margin: 20px;
}
li {
	margin-left: 30px;
	font-size: 20px;
}
a {
	color: #0f533a;
}
.images{
	text-align: center;
}