body {
	background-color: #eeeeee;
	font-size: 18px;
}
#page {
	background-color: white;
	width: 470px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	margin: 0 auto;
	padding: 30px 50px;
}
h3 {
	text-align: center;
}
.UserPhoto {
	text-align: center;
}
.border {
	border-top: 1px solid black;
}
p {
	padding: 0 10px;
}
.contacts {
	display: block;
}